<style>

</style>
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <style>
            * {
                font-family: sans-serif;
            }
            .everything {
                position: relative;
            }
            .nodes circle {
                position: absolute;
                z-index: 10;
            }
            .nodes circle:hover {
                border-style: solid;
                border: chocolate;
            }
            div.tooltip {
                position: absolute;
                text-align: center;
                display: inline-block;
                padding: 2px;
                font: 12px sans-serif;
                background: lightsteelblue;
                border: 0px;
                border-radius: 8px;
                pointer-events: none;
            }
            #details{
                position: fixed;
                top: 0;
                right: 0;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px;
                background-color: gainsboro;
                border-radius: 10px;
                margin: 10px;
            }

            #details .propertyName{
                display: inline-block;
                margin-top: 1px;
                margin-bottom: 1px;
            }

            #colorSample {
                position: fixed;
                bottom: 0;
                margin-bottom: 20px;
                font-size: 12px;
                margin-left: 5px;
            }

            #colorSample div {
                display: inline-block;
                bottom: 0;
            }

            #colorSample div label {
                position: absolute;
                bottom: inherit;
            }

            label#scaleSample {
                -webkit-transform: rotate(-90deg);
                /* Firefox */
                -moz-transform: rotate(-90deg);
                /* IE */
                -ms-transform: rotate(-90deg);
                /* Opera */
                -o-transform: rotate(-90deg);
                /* Internet Explorer */
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                display: inline-block;
            }
            .button {
              position: fixed;
              display: inline-block;
              border-radius: 4px;
              background-color: #f4511e;
              border: none;
              color: #FFFFFF;
              text-align: center;
              font-size: 28px;
              padding: 20px;
              width: 200px;
              transition: all 0.5s;
              cursor: pointer;
              margin: 5px;
            }

            .button span {
              cursor: pointer;
              display: inline-block;
              position: relative;
              transition: 0.5s;
            }

            .button span:after {
              content: '\00bb';
              position: absolute;
              opacity: 0;
              top: 0;
              right: -20px;
              transition: 0.5s;
            }

            .button:hover span {
              padding-right: 25px;
            }

            .button:hover span:after {
              opacity: 1;
              right: 0;
            }
            #colorScaleLabel {
                position: fixed;
                bottom: 60px;
                margin-bottom: 20px;
                font-size: 12px;
                margin-left: 5px;
             }

             #circle-samples-container {
                position: fixed;
                bottom: 25px;
             }
        </style>
        <a href="{% url 'index' %}" ><button class="button" style="vertical-align:middle"><span>Back</span></button></a>
        <svg width="960" height="600">
            <div id="details" style="display: none">
                <b><label class="propertyName">NickName: &nbsp;</label></b><label id="nickName"></label><br/>
                <b><label class="propertyName">Followers: &nbsp;</label></b><label id="followers"></label><br/>
                <b><label class="propertyName">Following: &nbsp;</label></b><label id="following"></label><br/>
                <b><label class="propertyName">Tweets: &nbsp;</label></b><label id="tweets"></label><br/>
                <b><label class="propertyName">Favs: &nbsp;</label></b><label id="favs"></label><br/>
            </div>
            <label id="colorScaleLabel">Favs</label>
            <div id="colorSample">
            </div>
        </svg>

        <script src="https://d3js.org/d3.v4.min.js"></script>

    </body>
</html>




<script>

            var data = {};
            //var nodes = [];
            //var links = [];

            var baseNodes = [];
            var baseLinks = [];

            var maxFav = 0;
            var minFav = 999999999;

            var maxFollowers = 0;
            var minFollowers = 999999999;

            function createColorScale(tam) {
                //shadeColor
                var colorDiv = document.getElementById("colorSample");

                for(var i = 1; i < tam+1; i++) {
                    var newColor = document.createElement("div");
                    if ((i-1) === 0) {
                        var referenceColor = document.createElement("label");
                        referenceColor.id = 'scaleSample';
                        referenceColor.innerHTML = minFav;
                        newColor.appendChild(referenceColor);

                    }  else if(i === tam/2) {
                        var referenceColor = document.createElement("label");
                        referenceColor.id = 'scaleSample';
                        referenceColor.innerHTML = minFav + ((maxFav - minFav)/2);
                        newColor.appendChild(referenceColor);

                    } else if (i === tam) {
                        var referenceColor = document.createElement("label");
                        referenceColor.id = 'scaleSample';
                        referenceColor.innerHTML = maxFav;
                        newColor.appendChild(referenceColor);
                    }

                    newColor.style.backgroundColor = shadeColor((((tam+0)/2) - i)/(tam/2));
                    newColor.style.height = "50px";
                    newColor.style.width = "5px";
                    colorDiv.appendChild(newColor);
                }
            }

            function parseRequestObjects() {
                var nodesObj = JSON.parse('{{ nodes | escapejs }}');
                var linksObj = JSON.parse('{{ links | escapejs }}');

                var nodeList = [];
                var linkList = [];

                for(var i=0; i<nodesObj.length; i++){
                    var node = nodesObj[i].fields;

                    // Guardamos el valor maximo de los favoritos y el minimo para calcular el color del nodo en función de este
                    if(node.favs > maxFav){
                        maxFav = node.favs;
                    }
                    if(node.favs < minFav) {
                        minFav = node.favs;
                    }

                    // Guardamos el valor maximo y minimo de los followers
                    if(node.followers > maxFollowers){
                        maxFollowers = node.followers;
                    }

                    if(node.followers < minFollowers){
                        minFollowers = node.followers;
                    }

                    nodeList.push(node);
                    //nodes.push(node);
                    baseNodes.push(node);
                }
                for(var i=0; i<linksObj.length; i++){
                    //var link = linksObj[i].fields;
                    var link = linksObj[i];
                    linkList.push(link);
                    //links.push({'source': link.retweeter, 'target': link.retweeted});
                    //links.push(link);
                    baseLinks.push(link);
                }

                data = {'nodes': nodeList,
                        'links': linkList};
            }

            function createSampleNodes(numSamples) {
                var svg = d3.select('body')
                            .append("svg")
                            .attr("viewBox", "0 0 960 70")
                            .attr("preserveAspectRatio", "xMidYMid meet")
                            .attr("cx", lastSize + 25)
                            .attr("id", "circle-samples-container");

                 var lastSize = 700;

                for(var i=0; i<=numSamples; i++) {
                    lastSize += (( ((i*(100/numSamples)) / 100)*20) + 1)*2;
                    svg.append("circle")
                       .attr("cx", lastSize + 50 + (((i*(100/numSamples)) / 100)*20) + 1)
                       .attr("cy", 25)
                       .attr("r", ( ((i*(100/numSamples)) / 100)*20) + 1)
                       .style("fill", "purple");

                    svg.append("text")
                       .text(Math.trunc((maxFollowers-minFollowers)*(1/numSamples)*i))
                       .attr("dx", ( ((i*(100/numSamples)) / 100)*20) + 1)
                       .attr('class', 'texts')
                       .attr('font-size', 10)
                       .attr('x', lastSize + 50)
                       .attr('y', 70);
                }
            }

            parseRequestObjects();
            createColorScale(100);
            createSampleNodes(3);

            var nodes = [...baseNodes];
            var links = [...baseLinks];

            function indentifyLink (link, i) {
                return link.index;
            }

            function shadeNodeColor(node) {
                return shadeColor((((maxFav+minFav)/2) - node.favs)/((maxFav-minFav)/2)*0.9);
            }

            function shadeColor(percent) {
                color = 'FF0000';
                var num = parseInt(color,16),
                amt = Math.round(255 * percent),
                R = (num >> 16) + amt,
                B = (num >> 8 & 0x00FF) + amt,
                G = (num & 0x0000FF) + amt;

                return "#"+(0x1000000 + (R<255?R<1?0:R:255)*0x10000 + (B<255?B<1?0:B:255)*0x100 + (G<255?G<1?0:G:255)).toString(16).slice(1);
            }

            function completeAndShowDetails(node) {
                document.getElementById("nickName").innerHTML = node.name;
                document.getElementById("followers").innerHTML = node.followers;
                document.getElementById("following").innerHTML = node.following;
                document.getElementById("tweets").innerHTML = node.tweets;
                document.getElementById("favs").innerHTML = node.favs;
                var element = document.getElementById("details").style.display = "block";
            }

            const width = window.innerWidth;
            const height = window.innerHeight;
            const svg = d3.select('svg')
                .attr('width', width)
                .attr('height', height)
                .attr("viewBox", "0 0 " + width + " " + height );

            var linkForce = d3
                .forceLink()
                .id(indentifyLink)
                //.strength(function (link) { return link.strength })

            var simulation = d3
                .forceSimulation()
                .force('link', linkForce)
                .force('charge', d3.forceManyBody().strength(-5))
                .force('center', d3.forceCenter(width / 2, height / 2));

            // Define div for the tooltip
            var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            var g = svg.append("g")
                .attr("class", "everything");

            //add zoom capabilities
            var zoom_handler = d3.zoom()
                .on("zoom", zoom_actions);

            zoom_handler(svg);

            function zoom_actions(){
                g.attr("transform", d3.event.transform);
            }

            // Definimos la funcion para seleccionar nodos y moverlos
            const dragDrop = d3.drag()
                .on('start', node => {
                    node.fx = node.x
                    node.fy = node.y
                })
                .on('drag', node => {
                    simulation.alphaTarget(0.7).restart()
                    node.fx = d3.event.x
                    node.fy = d3.event.y
                })
                .on('end', node => {
                    if (!d3.event.active) {
                      simulation.alphaTarget(0)
                    }
                    node.fx = null
                    node.fy = null
                });

            // Incluimos la funcion anterior en las propiedades de los nodos
            //nodeElements.call(dragDrop);

            function getNeighbors(node) {
                return baseLinks.reduce((neighbors, link) => {
                if (link.target.identifier === node.identifier) {
                  neighbors.push(link.source.identifier)
                } else if (link.source.identifier === node.identifier) {
                  neighbors.push(link.target.identifier)
                }
                return neighbors
              }, [node.identifier])
            }

            function isNeighborLink(node, link) {
                 return link.target.identifier === node.identifier || link.source.identifier === node.identifier
            }

            function getNodeColor(node, neighbors) {
                 return (Array.isArray(neighbors) && neighbors.indexOf(node.identifier) > -1) ? 'blue' : shadeNodeColor(node);
            }

            function getTextColor(node, neighbors) {
                return (Array.isArray(neighbors) && neighbors.indexOf(node.identifier) > -1 ) ? 'blue' : 'black';
            }

            function getLinkColor(node, link) {
              return isNeighborLink(node, link) ? 'blue' : '#E5E5E5';
            }

            // we use svg groups to logically group the elements together
            var linkGroup = g.append('g').attr('class', 'links');
            var nodeGroup = g.append('g').attr('class', 'nodes');
            var textGroup = g.append('g').attr('class', 'texts');

            var selectedId;

            var linkElements, nodeElements, textElements;

            function selectNode(selectedNode) {
                if (selectedId === selectedNode.identifier) {
                    selectedId = undefined;
                    resetData();
                    updateSimulation();
                    document.getElementById("details").style.display = "none";
                } else {
                    selectedId = selectedNode.identifier;
                    updateData(selectedNode);
                    updateSimulation();
                    completeAndShowDetails(selectedNode);
                }

                var neighbors = getNeighbors(selectedNode);

                // we modify the styles to highlight selected nodes
                nodeElements.attr('fill', function (node) { return getNodeColor(node, neighbors) });
                //textElements.attr('fill', function (node) { return getTextColor(node, neighbors) });
                linkElements.attr('stroke', function (link) { return getLinkColor(selectedNode, link) });
            }

            // this helper simple adds all nodes and links
            // that are missing, to recreate the initial state
            function resetData() {
                var nodeIds = nodes.map(function (node) { return node.identifier });

                baseNodes.forEach(function (node) {
                    if (nodeIds.indexOf(node.identifier) === -1) {
                        nodes.push(node);
                    }
                });

                links = baseLinks;
            }

            // diffing and mutating the data
            function updateData(selectedNode) {
                var neighbors = getNeighbors(selectedNode);
                var newNodes = baseNodes.filter(function (node) {
                    return neighbors.indexOf(node.identifier) > -1 // || node.level === 1
                });

                var diff = {
                    removed: nodes.filter(function (node) { return newNodes.indexOf(node) === -1 }),
                    added: newNodes.filter(function (node) { return nodes.indexOf(node) === -1 })
                }

                diff.removed.forEach(function (node) { nodes.splice(nodes.indexOf(node), 1) });
                diff.added.forEach(function (node) { nodes.push(node) });

                links = baseLinks.filter(function (link) {
                    return link.target.identifier === selectedNode.identifier || link.source.identifier === selectedNode.identifier
                });
            }

            function updateGraph() {
                // links
                linkElements = linkGroup.selectAll('line')
                    .data(links, function (link) {
                        return link.target.identifier + link.source.identifier;
                    });

                linkElements.exit().remove();

                var linkEnter = linkElements
                    .enter().append('line')
                    .attr('stroke-width', 1)
                    .attr('stroke', 'rgba(50, 50, 50, 0.2)');

                linkElements = linkEnter.merge(linkElements);

                // nodes
                nodeElements = nodeGroup.selectAll('circle')
                    .data(nodes, function (node) { return node.identifier });

                nodeElements.exit().remove();

                var nodeEnter = nodeElements
                    .enter()
                    .append('circle')
                    .attr('r', function(node) { return ((node.followers/(maxFollowers-minFollowers))*20) + 1; })
                    .attr('fill', function (node) { return shadeNodeColor(node)})
                    .call(dragDrop)
                    // we link the selectNode method here
                    // to update the graph on every click
                    .on('click', selectNode)
                    .on('mouseover', function(node) {
                        div.transition()
                            .duration(200)
                            .style("opacity", .9);
                        div	.html("<b>" + node.name + "</b><br/><hr>"
                            + "Followers: " + node.followers + "<br/>"
                            + "Following: " + node.following + "<br/>"
                            + "Tweets: " + node.tweets + "<br/>"
                            + "Favs: " + node.favs) //+ d.close)
                            .style("left", (d3.event.pageX) + "px")
                            .style("top", (d3.event.pageY - 28) + "px");
                        })
                    .on('mouseout', function(d) {
                        div.transition()
                            .duration(500)
                            .style("opacity", 0);
                    });

                nodeElements = nodeEnter.merge(nodeElements);

                // texts
                /*
                textElements = textGroup.selectAll('text')
                    .data(nodes, function (node) { return node.identifier });

                textElements.exit().remove();

                var textEnter = textElements
                    .enter()
                    .append('text')
                    .text(function (node) { return node.name })
                    .attr('font-size', 15)
                    .attr('dx', 15)
                    .attr('dy', 4);

                textElements = textEnter.merge(textElements);
                */
            }

            function updateSimulation() {
                updateGraph();

                simulation.nodes(nodes).on('tick', () => {
                    nodeElements
                        .attr('cx', function (node) { return node.x })
                        .attr('cy', function (node) { return node.y })
                    /*
                    textElements
                        .attr('x', function (node) { return node.x })
                        .attr('y', function (node) { return node.y })
                    */
                    linkElements
                        .attr('x1', function (link) { return link.source.x })
                        .attr('y1', function (link) { return link.source.y })
                        .attr('x2', function (link) { return link.target.x })
                        .attr('y2', function (link) { return link.target.y })
                });

                simulation.force('link').links(links);
                simulation.alphaTarget(0.7).restart();
            }

            // last but not least, we call updateSimulation
            // to trigger the initial render
            updateSimulation();

        </script>
