<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
circle {
    stroke: steelblue;
    stroke-width: 2;
    fill: steelblue;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

</style>
<body>
<div id="gender_users"></div>
<!-- load the d3.js library -->

<script>

    // Get the data
    d3.json("{% url "get_users_gender_data" %}", function(error, data) {
        console.log(data);

     var width = 200,
        height = 200,
        radius = 100,
        color = d3.scale.ordinal()
    .range(['#8caba8', '#a2798f', '#dfdfde']);
     // Creamos el elemento SVG en el <body> y lo asociamos con nuestros datos
        // y atributos
     var vis = d3.select("div#gender_users")
        .append("svg:svg")
        .data([data])
            .attr("width", width)
            .attr("height", height)
        .append("svg:g")                //un grupo para el grafico circular
            .attr("transform", "translate(" + radius + "," + radius + ")");    //adaptar el centro del grafico

        // necesitamos elementos <path> para el uso de datos arc
    var arc = d3.svg.arc()
        .outerRadius(radius);
// crear datos arc con nuestros datos correspondientes
    var pie = d3.layout.pie()
        .value(function(d) { return d.value; });
    var arcs = vis.selectAll("g.slice")
        .data(pie)
        .enter()
            .append("svg:g")
                .attr("class", "slice");
    // Modificar los colores del grafico y dibujarlo
        arcs.append("svg:path")
            .attr("fill", function(d, i) { return color(i); } )
                .attr("d", arc);
    // anadir etiquetas a las partes del grafico
        arcs.append("svg:text")
                .attr("transform", function(d) {
                d.innerRadius = 0;
                d.outerRadius = radius;
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .text(function(d, i) { return data[i].label + " - " + data[i].value + "%"; });



    });


</script>
</body>
