<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  font: 1em sans-serif;
}

#infl_ranking {
    width: 200px;
    vertical-align: top;
}

.influencer {
    width: 60%;
    margin:0;
    height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    color:cyan;
}

.container{
    width: 100%;
    height: 45px;
    margin:0;
    padding: 0;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    border-bottom:0;
    overflow: hidden;
}

.canvas {
    width: 30%;
    height: 100%;
    margin:0;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.container:last-child{
    border-bottom: 1px solid black;
}

text { 
    font-size:1em;
}

</style>
<body>

<!-- load the d3.js library -->
<script src="http://d3js.org/d3.v3.min.js"></script>

<script>

// Get the data
d3.json("{% url "get_influencers" %}", function(error, data) {

    console.log(data);

    let ranking = d3.select('#infl_ranking');
    
    let svg = ranking.selectAll("svg.canvas").
              data(data).
              enter().
              append("div").
              attr("class","container").
              each(function(d,i){
                    let canvas = d3.select(this).
                        append('svg').
                        attr('class','canvas').
                        append('g');

                    if(i < 3){

                        let color = ['gold','silver','#cd7f32']
                        canvas.
                        append('polygon').
                        attr('x',"25%").
                        attr('y',"30%").
                        attr('points',"10,1 4,18 19,6 1,6 16,18").
                        style('fill',color[i]).
                        style('stroke','black').
                        style('stroke-width',0);
                    }
                    
                    console.log(canvas);

                    canvas.
                    append('text').
                    attr('x','23%').
                    attr('y',"34%").
                    attr('dy','1em').
                    text(d.ratio);

                    d3.select(this).
                    append('div').
                    attr('class','influencer').
                    append('p').
                    text(function(d,i){
                        return "@"+d.name;
                    })
              });
    });
</script>


<div id='infl_ranking'>
    <div class="container"><div class="canvas"><p>Ratio</p></div><div class="influencer"><p>Nombre</p></div>
</div>
</body>
