<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
circle {
    stroke: steelblue;
    stroke-width: 2;
    fill: steelblue;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

</style>
<body>
<!-- load the d3.js library -->
<script>

function isInfluencer(d) {
    followersRatio = (d.followers / d.following) > {{ followers_ratio }};
    minimumFollowers = d.followers > {{ minimum_followers }};
    return followersRatio & minimumFollowers;
}

// Set the dimensions of the canvas / graph
var margin = {
        top: 20,
        right: 20,
        bottom: 30,
        left: 50
    },
    width = 800 - margin.left - margin.right,
    height = 350 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .range([0, width]);
var y = d3.scale.linear()
    .range([height, 0]);
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
var svg = d3.select("svg#popularity").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    //.attr("viewBox", "0 0 960 500")
    //.attr("preserveAspectRatio", "xMidYMid meet")
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
// Define the div for the tooltip
var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


// Get the data
d3.json("{% url "get_popularity_data" %}", function(error, data) {
        data.forEach(function(d) {

        });

        // Scale the range of the data
        x.domain(d3.extent(data, function(d) {
            return d.following;
        }));
        y.domain([0, d3.max(data, function(d) {
            return d.followers;
        })]);

        // Add the scatterplot
        svg.selectAll("dot")
            .data(data)
            .enter().append("circle")
            .attr("r", 5)
            .attr("cx", function(d) {
                return x(d.following + 50);
            })
            .attr("cy", function(d) {
                return y(d.followers + 50);
            })
            .on("mouseover", function(d) {
                console.log('subarashii');
                console.log(d3.event);

                div.transition()
                    .duration(200)
                    .style("opacity", .9);
                div.html(d.name + "<br/> Following " + d.following + "<br/> Followers " + d.followers)
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY - 28) + "px");
            })
            .style("fill", function(d) {
                if(isInfluencer(d)) {
                    return "red";
                }
            })
            .style("stroke", function(d) {
                if(isInfluencer(d)) {
                    return "red";
                }
            })
            .on("mouseout", function(d) {
                div.transition()
                    .duration(500)
                    .style("opacity", 0);
            });

        // Add the X Axis
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .append("text")
            .attr("x", 5)
            .attr("dx", ".71em")
            .style("text-anchor", "start")
            .text("Following");

        // Add the Y Axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Followers");

    });
</script>

</body>
