<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  font: 10px sans-serif;
}
.axis2 path,
.axis2 line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line2 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
<body>

<div id='users_creation_plot'>

</div>
<script>
var margin2 = {top: 20, right: 20, bottom: 30, left: 50},
    width2 = 800 - margin2.left - margin2.right,
    height2 = 400 - margin2.top - margin2.bottom;

var x2 = d3.scale.linear()
    .range([0, width2]);
var y2 = d3.scale.linear()
    .range([height2, 0]);
var xAxis2 = d3.svg.axis()
    .scale(x2)
    .orient("bottom");
var yAxis2 = d3.svg.axis()
    .scale(y2)
    .orient("left");
var line2 = d3.svg.line()
    .x(function(d) { return x2(d.year); })
    .y(function(d) { return y2(d.count); });
var svg2 = d3.select("div#users_creation_plot").append("svg")
    .attr("width", width2 + margin2.left + margin2.right)
    .attr("height", height2 + margin2.top + margin2.bottom)
    //.attr("viewBox", "0 0 960 500")
    //.attr("preserveAspectRatio", "xMidYMid meet")
  .append("g")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

d3.json("{% url "users_created_by_year" %}", function(error, data2) {
  data2.forEach(function(d) {
    d.count = +d.count;
    console.log(d.count);
  });
  x2.domain(d3.extent(data2, function(d) { return d.year; }));
  y2.domain(d3.extent(data2, function(d) { return d.count; }));
  svg2.append("g")
      .attr("class", "x axis2")
      .attr("transform", "translate(0," + height2 + ")")
      .call(xAxis2);
  svg2.append("g")
      .attr("class", "y axis2")
      .call(yAxis2)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Twitter users created by year");
  svg2.append("path")
      .datum(data2)
      .attr("class", "line2")
      .attr("d", line2);
});
</script>



</body>
</html>