<!DOCTYPE html>
<html lang="en">
<body>
<ul class="list-group">
    {% for username, ratio in ranking_influencers%}
  <li class="list-group-item d-flex justify-content-between align-items-center">
   {{ username }}
    <span class="badge badge-primary badge-pill">{{ ratio }}</span>
  </li>
    {% endfor %}
</ul>
</body>
</html>