<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  font: 10px sans-serif;
}

#mycanvas{
  border: 2px solid black;
  border-radius: 2%;
  margin-top: 5vh;
  margin-left: 2vw;
  display: none;
}

.wrapper{
  border: 0px solid red;
  overflow: auto;
}

.main-node{
  padding: 1vw;
  border: 1px solid black;
  border-radius: 5%;  
  margin: 1vw;
  display:inline-block;
  word-wrap: break-word;
  overflow:hidden;
}

.main-node > p{
  vertical-align: middle;
  font-weight:bold;
  font-family: "Segoe UI",Arial,sans-serif;
  color:white;
}

.subnode{
  padding: 0.1vw;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0.25vw;
  display:inline-block;
  word-wrap: break-word;
  overflow:hidden;
  text-align:center;
}

.tooltip {  
    position: absolute;     
    text-align: center;     
    height: 34px; 
    line-height: 28px;        
    padding: 2px;       
    font: 3em sans-serif;    
    background: white;
    color: #38A1F3;
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;
    text-align: center;   
}

.subnode > p{
  vertical-align: middle;
  font-weight:bold;
  font-family: "Segoe UI",Arial,sans-serif; 
  color:white;
}

#retweeted_title, #apiAsker
{
  text-align: center;
  float: center;
}

#retweeted_title{
  font-size:2em;
}

.button {
    display: inline-block;
    margin: auto;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .centerme{
    text-align: center;
  }

</style>

<script src="http://d3js.org/d3.v3.js"></script>
<script type="text/javascript">

  var usuarios;

  // Cargamos la lista de usuarios independientemente de la selección
  d3.json("{% url 'users_by_id'%}", function(error, data) {
    usuarios = data;
    // console.log(usuarios);
    // console.log(Object.keys(usuarios).length)

    cargar_influentes();

  });

  // Selector y función de cambio.
  var select = d3.select('body').selectAll('select').on('change', function(){
    value = d3.select('#apiAsker').property('value');

    if(value=="influent"){
      console.log("Cargando");
      cargar_usuarios_influentes();
      console.log("Finalizado");
    }
    else if(value=="fan")
    {
      console.log("Cargando");
      cargar_favoritos_de_usuarios();
      console.log("Finalizado");
    }
    else
    {
      console.log("Error en selector.");
    }
  });

function cargar_influentes()
{
  d3.json("{% url 'favorite_users'%}", function(error, data) {
    // console.log(data);
    // console.log(Object.keys(data).length)

    let div = d3.select("div#mycanvas");

    let counter = 0;

    let newArray = []

    for(i in data){
      let mykey = Object.keys(data[i])[0];
      let myval = data[i][mykey];
      newArray[" "+mykey] = myval;
    }

    max = data.length;
    pivot = data.length/2;

    let color = d3.scale.linear()
    .domain([0, pivot, max])
    .range(['red', 'green', 'blue']);

    newArray = d3.entries(newArray);

    // console.log(newArray);

    let tooldiv = d3.select("body").append("div") 
      .attr("class", "tooltip")       
      .style("opacity", 0);

    let boxes =  div.selectAll("div.main-node").
                  data(newArray).
                  enter().
                  append("div").
                  attr("id", function(d,i){
                    return "wrapper-"+parseInt(d.key);
                  }).
                  attr("class","wrapper").
                  append("div").
                  on("click", function(d,i){
                    let children = d3.selectAll("div[id^=\"subnode-"+parseInt(d.key)+"-\"]").
                                   style('display', function(){
                                      let t = d3.select(this);
                                      console.log(t.style("display"));
                                      if(t.style("display") == "none"){
                                        return "inline-block";
                                      }
                                      else{
                                        return "none";
                                      }
                                   });

                  }).
                  on("mouseover", function(d) {  
                              tooldiv.transition().    
                                  duration(200).    
                                  style("opacity", .9);    
                              tooldiv.text("Nº de RTs: "+usuarios[parseInt(d.key)]['retweets_received']).
                                  style("left", (d3.event.pageX) + "px").
                                  style("top", (d3.event.pageY - 28) + "px");  
                              }).
                  on("mouseout", function(d) {   
                              tooldiv.transition().    
                                  duration(500).    
                                  style("opacity", 0); 
                          }).
                  attr("class","main-node").
                  attr("id", function(d,i){
                    return "main-node-"+parseInt(d.key);
                  }).
                  style("background-color", function(d,i){
                    return color(i);
                  }).             
                  each(function(d,i)
                  { 
                      datachilds = d3.entries(d.value);

                      let seguidor = d3.select("div#wrapper-"+parseInt(d.key)).selectAll('subnode').
                          data(datachilds).
                          enter().
                          append("div").
                          on("mouseover", function(d2) {  
                              tooldiv.transition().    
                                  duration(200).    
                                  style("opacity", .9);    
                              tooldiv.text("@"+usuarios[d2.key]['name']).
                                  style("left", (d3.event.pageX) + "px").
                                  style("top", (d3.event.pageY - 28) + "px");  
                              }).
                          on("mouseout", function(d2) {   
                              tooldiv.transition().    
                                  duration(500).    
                                  style("opacity", 0); 
                          }).
                          attr("class", "subnode").
                          style("background-color", color(i)). 
                          attr("id", function(d2){
                            return "subnode" + "-" + parseInt(d.key) + "-" + d2.key;
                          }).
                          style('height',function(d2){
                            let min = 30;
                            let max = 120;
                            let maxval = 100;
                            return ( min + d2.value*(max-min)/maxval) + "px";
                          }).
                          style('width',function(d2){
                            let min = 30;
                            let max = 120;
                            let maxval = 100;
                            return ( min + d2.value*(max-min)/maxval) + "px";
                          }).
                          append('p').
                          style('font-size','1.7em').
                          style('line-height',function(d2){
                            let min = 30;
                            let max = 120;
                            let maxval = 100;
                            return ( min + d2.value*(max-min)/maxval)/2.5 + "px";
                          }).
                          text(function(d2,i2){
                          return ""+d2.value; });                                    
                  }).
                  append('p').                  
                  style('font-size','2em').
                  text(function(d){
                  return "@"+usuarios[parseInt(d.key)]["name"]; });
        renderizar();
    });

  function renderizar(){

    let loader = document.getElementById("loader");

    loader.style.display = "none";

    let influencers = document.getElementById("mycanvas");

    influencers.style.display = "block";
  }
}
</script>
<body>


<h1 id='retweeted_title'>
  Most retweeted users
</h1>
<!--
<div id='apiAsker'>
<select id='apiselector'>
  <option value="influent">Influencers</option>
  <option value="fan">Fans</option>
</select>
-->
<div class='centerme'>
<a href="{% url 'index' %}" ><button class="button" style="vertical-align:middle"><span>Back</span></button></a>
</div>
</div>
{% include "dashboard/loader.html"%}
<div id='mycanvas'>

</div>
</body>
</html>