<!DOCTYPE html>
<head>
    {% load static %}
</head>
<meta charset="utf-8">
<style>
body {
  font: 10px sans-serif;
}
#mycanvas{
  border: 1px solid black;
  margin-top: 5vh;
  margin-left: 5vw;
}

.wrapper{
  border: 1px solid red;
  overflow: auto;
}

.main-node{
  padding: 1vw;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1vw;
  display:inline-block;
  word-wrap: break-word;
  overflow:hidden;
}

.main-node > p{
  vertical-align: middle;
  font-weight:bold;
  font-family: "Segoe UI",Arial,sans-serif;
  color:white;
}

.subnode{
  padding: 1vw;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0.5vw;
  display:inline-block;
  word-wrap: break-word;
  overflow:hidden;
}

.subnode > p{
  vertical-align: middle;
  font-weight:bold;
  font-family: "Segoe UI",Arial,sans-serif;
  color:white;
}

</style>
<body>
<img src="{% static 'dashboard_assemble/dist/img/wordcloud.svg' %}" class="img" alt="User Image"
     style="height: 300px; display: block;">
</body>


</html>